*{
    padding: 0px;
    margin: 0px;
}
.headerkka{
	background: #F1F0EE;
}

.headerlogin{
	/*margin: 15px 0px 15px 0px;*/
	padding: 10px 0px 10px 0px;
}
@media (max-width: 991px) {
    .hide-img{
        display: none;
    }
    .footer-row-sm{
        margin-left: 5px !important;
        margin-right: 5px !important;
    }
    .footer-col-sm{
        padding-bottom: 2px !important;
        padding-top: 2px !important;
    }
}
.kka1{
	background: #fff;
	padding-top: 20px;
}
#bouncing1{
	width: 80%;
	height: auto;
	position: absolute;
/*	top: 0px;
    bottom: 0px;*/
	/*left: 50%;*/
}
#bouncing2{
	width: 80%;
	height: auto;
	position: absolute;
	top: 0px;
	/*left: 50%;*/
}
.kka1a{

	padding: 100px 100px 120px 100px;	
}
.kka2{
	background: #F1F0EE;
}
.kka2a{
	margin: 5px 0px 50px 0px;
}
.kka2a h3{
	font-size: 30px;
}
.kka2a p{
	    font-size: 17px;
}
.kka3{
	background: #1791DF; 
	color:#fff;
}
.kka3 h3{
	font-size: 30px;
}
.kka3 h1{
	font-size: 57px;
}
.kka3 h2{
	font-size: 33px;
}
.kka3margin{
	margin: 5px 100px 50px 100px;
}
.kka4{
	background: #F1F0EE;
}
.kka4a{
	margin: 10px 0px 10px 0px;
	text-align: center;
}
.kka4 img{
	width: 137px;
	height: 137px;
}
.kka4 h3{
	font-size: 30px;
}
.kka4 p{
	font-size: 17px;
}
.kka5{
	background: #fff;
}
.kka5a{
	margin: 5px 0px 50px 0px;
}
.kka5 h3{
	text-align: center;
	font-size: 28px;
    margin: 30px 0px;
}
.kka5 img{
	margin-left: 50px;
	margin-top: 100px;
	height: 340px;
	width: 340px;
}
.kka-footer{
	background: #222D32;
	color: #fff;
	text-align: center;
}
.kka-footer p{
	font-size: 17px;
}
.copyright {
    padding-top: 72px;
    padding-bottom: 68px;
    /* background: #00A8E1; */
}
.footer-row{
	margin-left: 100px;
	margin-right: 100px;
}
.footer-col{
	padding-bottom: 50px;
	padding-top: 50px;
}
.kka-footer a{
	color: #fff;
}
.footer-sosmed{
	background: #0090E0;
}
.icon-top {
    font-size: 30px;
    margin-bottom: 10px;
    /* color: #91C640; */
}
.box{
	background: #fff;
	padding: 15px;
	border: 3px solid #F1F1F1;
	border-radius: 5px;
	width: 380px;
	height: 283px;
}
.box:hover{
	box-shadow: 3px 3px 10px #ccc;
    transform: translateY(-30px);
    margin-top: 0;
}
.feature {
    padding: 15px;
    margin-top: 30px;
    font-weight: lighter;
    text-align: center;
}
.feature span {
    font-size: 5em;
    color: #016cc7;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}
.header-title{
	text-align: center;
}
.row-title {
    font-weight: 400;
    width: 100%;
    text-align: center;
    font-size: 30px;
}

/*Radio Button*/

@import('https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.0/css/bootstrap.min.css') .funkyradio div {
    clear: both;
    /*margin: 0 50px;*/
    overflow: hidden;
}
.funkyradio label {
    /*min-width: 400px;*/
    width: 100%;
    border-radius: 3px;
    border: 1px solid #D1D3D4;
    font-weight: normal;
}
.funkyradio input[type="radio"]:empty, .funkyradio input[type="checkbox"]:empty {
    display: none;
}
.funkyradio input[type="radio"]:empty ~ label, .funkyradio input[type="checkbox"]:empty ~ label {
    position: relative;
    line-height: 2.5em;
    text-indent: 3.25em;
    margin-top: 2em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.funkyradio input[type="radio"]:empty ~ label:before, .funkyradio input[type="checkbox"]:empty ~ label:before {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    content:'';
    width: 2.5em;
    background: #D1D3D4;
    border-radius: 3px 0 0 3px;
}
.funkyradio input[type="radio"]:hover:not(:checked) ~ label:before, .funkyradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
    content:'\2714';
    text-indent: .9em;
    color: #C2C2C2;
}
.funkyradio input[type="radio"]:hover:not(:checked) ~ label, .funkyradio input[type="checkbox"]:hover:not(:checked) ~ label {
    color: #888;
}
.funkyradio input[type="radio"]:checked ~ label:before, .funkyradio input[type="checkbox"]:checked ~ label:before {
    content:'\2714';
    text-indent: .9em;
    color: #333;
    background-color: #ccc;
}
.funkyradio input[type="radio"]:checked ~ label, .funkyradio input[type="checkbox"]:checked ~ label {
    color: #777;
}
.funkyradio input[type="radio"]:focus ~ label:before, .funkyradio input[type="checkbox"]:focus ~ label:before {
    box-shadow: 0 0 0 3px #999;
}
.funkyradio-default input[type="radio"]:checked ~ label:before, .funkyradio-default input[type="checkbox"]:checked ~ label:before {
    color: #333;
    background-color: #ccc;
}
.funkyradio-primary input[type="radio"]:checked ~ label:before, .funkyradio-primary input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #337ab7;
}
.funkyradio-success input[type="radio"]:checked ~ label:before, .funkyradio-success input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #5cb85c;
}
.funkyradio-danger input[type="radio"]:checked ~ label:before, .funkyradio-danger input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #d9534f;
}
.funkyradio-warning input[type="radio"]:checked ~ label:before, .funkyradio-warning input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #f0ad4e;
}
.funkyradio-info input[type="radio"]:checked ~ label:before, .funkyradio-info input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #5bc0de;
}