/*Box Santri*/
.card-santri{
	width:230px; 
	height: 400px; 
	margin-top: 35px; 
	border-radius: 10px; 
	border: 1px solid #bebebe;
	background: #E5E5E5;
}
.card-santri-body2 p{
	margin-bottom: 0px;
}
.card-santri-body2 h4{
	padding-top:  10px;
}
.card-santri-body2{
	padding: 15px 10px 0px 10px;
	background: #F3F3F3;
	margin-bottom: 0px;
}
.card-santri-footer{
    padding: 5px;
    /*border-radius: 0px 0px 10px 10px;*/
    position: absolute;
    bottom: 0;
}
.errorRegis{
	display: none;
	background: white;
    padding: 5px;
    color: red;
    border-radius: 5px;
    border: 1px solid red;
    font-size: 14px;
}

.errorRegis2{
	background: white;
    padding: 5px;
    color: red;
    border-radius: 5px;
    border: 1px solid red;
    font-size: 14px;
}
.rmargin{
	margin-top: 20px;
}
.rupdate{
	margin: 15px 0px 0px 0px;
    text-align: center;
}

.rbtn{
	padding: 2px 5px !important;
	font-size: 11px !important;
	margin-right: 2px;
}
.rtext{
	text-decoration: none;
}
.rfloat{
	float: left;
}

.rdate{
	float: right;
	padding: 10px;
}

.rvalidasi{
	border: #f00;
	color: #f00 !important;
	background: #fdd6d687;
	padding: 5px;
	border-radius: 4px;
}

.blue{
	color: #2F73B6;
}

.red{

	color: #E52749;
}

.rhide{
	display: none;
}

.scrolltab{
	overflow: auto;
	min-height: 300px;
	max-height: 480px;
}

.rwidth{
	width: 25px;
}
.rbutton{
	width: 170px;
}

.rfontsize{
	font-size: 12px;
}

/* Css Add Amaliyah */

.form-group input[type="checkbox"] {
    display: none;
}

.form-group input[type="checkbox"] + .btn-group > label span {
    width: 20px;
}

.form-group input[type="checkbox"] + .btn-group > label span:first-child {
    display: none;
}
.form-group input[type="checkbox"] + .btn-group > label span:last-child {
    display: inline-block;   
}

.form-group input[type="checkbox"]:checked + .btn-group > label span:first-child {
    display: inline-block;
}
.form-group input[type="checkbox"]:checked + .btn-group > label span:last-child {
    display: none;   
}

/* =========== */

