.rupdate{
	margin: 15px 0px 0px 0px;
    text-align: center;
}

.rbtn{
	padding: 2px 5px !important;
	font-size: 11px !important;
	margin-right: 2px;
}

.rvalidasi{
	border: #f00;
	color: #f00 !important;
	background: #fdd6d687;
	padding: 5px;
	border-radius: 4px;
}

.blue{
	color: #2F73B6;
}

.red{

	color: #E52749;
}

.rhide{
	display: none;
}

.scrolltab{
	overflow: auto;
	min-height: 300px;
	max-height: 1500px;
}
.rwidth{
	width: 25px;
}
.rbutton{
	width: 170px;
}

/* Css Add Amaliyah */

.form-group input[type="checkbox"] {
    display: none;
}

.form-group input[type="checkbox"] + .btn-group > label span {
    width: 20px;
}

.form-group input[type="checkbox"] + .btn-group > label span:first-child {
    display: none;
}
.form-group input[type="checkbox"] + .btn-group > label span:last-child {
    display: inline-block;   
}

.form-group input[type="checkbox"]:checked + .btn-group > label span:first-child {
    display: inline-block;
}
.form-group input[type="checkbox"]:checked + .btn-group > label span:last-child {
    display: none;   
}

/* =========== */

